<main class="register-container">
    <mat-card class="register-card">
        <mat-card-title>Regisztráció</mat-card-title>
        <div style="margin: 10px">
            <mat-card-subtitle>Már van fiókod?</mat-card-subtitle>
            <a routerLink="/login"
                ><button mat-button color="accent">Bejelentkezés</button></a
            >
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field color="accent">
                <mat-label>Email</mat-label>
                <input
                    matNativeControl
                    type="email"
                    placeholder=""
                    formControlName="email"
                />
                <mat-error
                    *ngIf="registerForm.controls['email'].hasError('email')"
                    >Kérlek adj meg egy érvényes e-mail címet!</mat-error
                >
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Jelszó</mat-label>
                <input
                    matNativeControl
                    type="password"
                    placeholder=""
                    formControlName="password"
                />
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Jelszó ismét</mat-label>
                <input
                    matNativeControl
                    type="password"
                    placeholder=""
                    formControlName="confirmPassword"
                />
                <mat-error *ngIf="passwordsDoNotMatch"
                    >A jelszavak nem egyeznek!</mat-error
                >
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Vezetéknév</mat-label>
                <input
                    matNativeControl
                    type="text"
                    placeholder=""
                    formControlName="firstName"
                />
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Keresztnév</mat-label>
                <input
                    matNativeControl
                    type="text"
                    placeholder=""
                    formControlName="lastName"
                />
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Szül. dátum</mat-label>
                <input
                    matNativeControl
                    [matDatepicker]="birthdate"
                    placeholder=""
                    formControlName="birthdate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="birthdate"
                ></mat-datepicker-toggle>
                <mat-datepicker #birthdate></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Lakcím</mat-label>
                <input
                    matNativeControl
                    type="text"
                    placeholder=""
                    formControlName="address"
                />
            </mat-form-field>

            <button
                mat-raised-button
                color="accent"
                type="submit"
                [disabled]="!registerForm.valid"
            >
                Regisztráció
            </button>
        </form>
    </mat-card>
</main>
