<mat-card class="course-card">
    <mat-card-title class="white-text">
        {{ course?.subject?.name }}
    </mat-card-title>
    <mat-card-subtitle> Tanárok </mat-card-subtitle>
    <mat-list class="teacher-list">
        <mat-list-item *ngFor="let teacher of course?.teachers ?? []">
            <a [routerLink]="'/user/' + teacher.id">
                <button mat-raised-button color="accent">
                    {{ teacher.familyname + " " + teacher.forename }}
                </button>
            </a>
        </mat-list-item>
    </mat-list>
    <mat-card-subtitle> Hallgatók </mat-card-subtitle>
    <mat-list class="student-list">
        <mat-list-item *ngFor="let student of course?.students ?? []">
            <a [routerLink]="'/user/' + student.id">
                <button mat-raised-button color="accent">
                    {{ student.familyname + " " + student.forename }}
                </button>
            </a>
        </mat-list-item>
    </mat-list>
</mat-card>
